/*CSS Page Software Guild*/

html
{
	overflow-x: hidden;
}
body 
{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	background-color: #FFEEEC;
	color:#303030;	
	font-size: 16pt;
	
}
/*#wrapper
{
	max-width: 90%;
	margin: 0 auto;
	border: solid black;
	border-width: 2px 4px 2px 4px;
	border-radius: 5px 5px 5px 5px;
	background-color: #0C525EFF;
}*/


header
{
	text-align: center;
	background-color: rgb(99,155,153);
	background-image: url("../img/bg3.png");
	min-height: 250px;
	display: inline-block;
	width: 100%;
}
header h1
{
	max-width: 100%;
	margin-top: 25px;
	margin: 0 auto;
	font-size: 5em;
	font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
	color: #DDDDDD;
}

header i
{
	margin-top: 50px;
	margin-bottom: 10px;
}
header .fa-github-square, .fa-facebook-square
{
	color: #DDDDDD;
	font-size: 2.5em;
}

nav
{
	
	text-align: right;
	max-width: 100%;
	background-color: #1C1C1C;
	padding-top: 25px;
	padding-bottom: 25px;
	
}
nav a
{
	color: white;
	text-decoration: none;
	margin-right: 15px;
	font-size: .95em;
	
}

aside *
{
	margin: 0;
	text-align: left;
}

aside
{
	float:left;
	max-width: 14%;
	font-size: .9em;
	padding: 15px;
	color: white;
	background-color:#1C1C1CDE;
	display: none;
	
	
}
aside p
{
	text-indent: 10px;
	font-size: .9em;
}

.main-column
{
	
	font-size: 1.5em;
	

}

article .main-column a
{
	
	text-decoration: none;

}



article .about 
{
	max-width: 60%;
	font-size: 1em;
	text-align: left;
	margin:0 auto;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	
}

article .about h2
{
	margin: 0;
	margin-top: 15px;
	font-size: 1.5em;
}

article .about p
{
	margin: 0px;
	margin-top: 15px;
}
article .meeting-info
{
	max-width: 65%;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: .80em;


}
article .meeting-info a
{
	color:#303030;
	text-decoration: none;
}
article .meeting-info h3
{
	margin: 0;
	margin-bottom: 5px;
}
article .meeting-info p
{
	margin: 0;

}
#officers
{
	margin-bottom: 10px;
}
#officers table
{
	max-width: 100%;
	height: auto;
	width: auto;
	margin: 0 auto;
	border-radius: 10px;
	border: solid black 2px;
	color: white;
	background-color: #878787;

}
#officers tr, th
{
	text-align: center;
}

#officers img
{
	max-width: 100%;
	width: 90px;
	max-height: 100%;
	height: 90px;

	border-radius: 10px;
	background-color: black;
}


footer
{
	display: inline-block;
	width: 100%;
	background-color: #1C1C1C;
	font-size: 12pt;
	text-align: center;
	color: white;

}

footer #copyright 
	{	
		display: inline-flex;
		width: 100%;
		font-size: 1em;
		padding-bottom: 5px;
	}
footer #copyright p
{
	text-align: right;
	width: inherit;
	margin-right: 5px;
}

footer #contact
{			
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 1.5em;
	margin-left: 5px;	
}

footer #contact h4, p
{
	margin: 0;
}

footer #contact a
{
	text-decoration: none;
	color: white;
}
header img
{
	max-width: 100%;
	height: auto;
	width: 360px;
	display: none;
}





