/*CSS Page Software Guild*/

html
{
	overflow-x: hidden;
}
body 
{
	font-family: "Courier New", Courier, monospace;
	margin: 0;
	background-color: #222;
	background-color: #010700FF;
	background-color: #151412FF;
	color:#303030;	
	color: #E0FFE0;
	font-size: 16pt;
	min-width: 360px;
	
}
/*#wrapper
{
	max-width: 90%;
	margin: 0 auto;
	border: solid black;
	border-width: 2px 4px 2px 4px;
	border-radius: 5px 5px 5px 5px;
	background-color: #0C525EFF;
}*/
nav
{
	display: block;
	width: 100%;
	min-height: 60px;
	padding: 0;
	background-color: #0C0C0C;
	text-align: right;
	position: relative;
	font-size: 16pt;
}

nav .nav-img 
{
	margin-left: 15px;
	max-height: 60px;
	float:left;
	
}

nav .nav-links
{
	margin-right: 15px;
	width: 90%;
	min-width: 60px;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right:0;
}

nav .nav-links a
{
	text-decoration: none;
	color: inherit;
	margin-top: 99%;
	font-size: ;
}

nav .nav-links a:hover
{
	color: #3BA828;
	transition-duration: .75s;
}

nav img
{
	
	width: auto;
	max-height: 60px;

}
header
{
	text-align: center;
	background-color: rgb(99,155,153);
	background-color: rgb(27, 93, 24);
	background-image: url("../img/bg4.png");
	min-height: 250px;
	display: inline-block;
	width: 100%;
	font-size: 3em;
}
header h1
{
	max-width: 100%;
	margin-top: 25px;
	margin: 0 auto;
	font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
	color: #E0FFE0;

}

header i
{
	/*margin-top: 50px*/;
	margin-bottom: 10px;

}
header .fa-github-square, header .fa-facebook-square
{
	color: #E0FFE0;
	
}

header .fa-github-square:hover, header .fa-facebook-square:hover
{
	color: #3BA828;
	transition-duration: .75s;
}


.main
{
	display: inline-block;
	margin-top: 80px;


}

.main a
{
	
	text-decoration: none;

}



.about 
{
	max-width: 50%;
	float: left;
	margin:0 auto;
	font-size:2em;
	margin-bottom: 40px;	
}

.about h2, .about p
{
	/*background-color: white;
	background-color: #2D392C;*/
	margin: 0;
	padding: 0;
	margin: 0 auto;
	max-width: 80%;
	margin: 0 auto;
	padding: 15px;	
}

.about h2
{
	border-radius: 5px 5px;
}

.about p
{
	border-radius: 0 0 5px 5px;
}

.meeting-info
{

	width: 95%;
	margin: 0 auto;
	text-align: center;
	clear:left;
	margin-bottom: 50px;
	margin-top: 125px;
	font-size: .95em;
	

}
.meeting-info a
{
	/*color:#303030;*/
	color: inherit;

}
.meeting-info h3
{
	margin: 0;
	margin-bottom: 5px;
}
.meeting-info p
{
	margin: 0;
	

}
.officers
{
	max-width: 50%;
	float: left;
	


}
.officers table
{
	max-width: 60%;
	height: auto;
	width: auto;
	margin: 0 auto;
	border-radius: 5px;
	color: inherit;
	background-color: #303030;
	background-color: #2E322E;

}
.officers tr, th
{
	text-align: center;
}

.officers img
{
	max-width: 100%;
	width: 90px;
	max-height: 100%;
	height: 90px;

	border-radius: 10px;
	background-color: black;
}


footer
{
	display: inline-block;
	width: 100%;
	background-color: #1C1C1C;
	background-color: #0C0C0C;
	text-align: center;
	color: inherit;
	font-size: .85em;

}

footer #copyright 
	{	
		display: inline-flex;
		width: 100%;
		
		padding-bottom: 5px;
	}
footer #copyright p
{
	text-align: right;
	width: inherit;
	margin-right: 5px;
}

footer #contact
{			
	width: 100%;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 20px;

	margin-left: 5px;	
}

footer #contact h4, p
{
	margin: 0;
}

footer #contact a
{
	text-decoration: none;
	color: inherit;
}
header img
{
	max-width: 100%;
	height: auto;
	width: 360px;
	display: none;
}


@media screen and (max-width: 1050px)
{
	
	body
	{
		font-size: 14pt;
	}
	
	.main
	{
		margin-top: 30px;
	}
	.about
	{
		width: 100%;
		max-width: 100%;
		font-size: 3em;
	}
	.about h2, .about p
	{
		width:90%;
		margin: 0 auto;
	}
	.officers
	{
		clear:left;
		max-width: 100%;
		width: 100%;
		font-size: 1.5em;
	}

	.officers table
	{
		max-width: 80%;
		margin: 0 auto;
	}
	.meeting-info
	{
		font-size: 1.25em;
	}

	footer
	{
		font-size: 1.25em;
	}
}

@media screen and (max-width: 950px) 
{
	body
	{
		font-size: 12pt;
	}
}


@media screen and (max-width: 850px)
{
	body
	{
		font-size: 10pt;
	}
}

@media screen and (max-width: 650px)
{
	body
	{
		font-size: 8pt;
	}
}

@media screen and (max-width: 450px)
{
	body
	{
		font-size: 6pt;
	}
}


